RewriteEngine On

# Because Authorization doesn't want to show up in $_SERVER....
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

RewriteRule ^category/([0-9]+)$ category.php?id=$1 [NC,QSA,L]
RewriteRule ^category/tree/([0-9]+)$ category.php?id=$1&tree=1 [NC,QSA,L]
RewriteRule ^category/parent/([0-9]+)$ category.php?parentId=$1 [NC,QSA,L]
RewriteRule ^category/?$ category.php [NC,L]

RewriteRule ^product/([0-9]+)$ product.php?id=$1 [NC,QSA,L]
RewriteRule ^product/?$ product.php [NC,L]

RewriteRule ^label/([0-9]+)$ label.php?id=$1 [NC,QSA,L]
RewriteRule ^label/?$ label.php [NC,L]
